In [19]:
# !pip install tpot

In [20]:
import pandas as pd
from sklearn.model_selection import train_test_split
from tpot import TPOTClassifier

In [21]:
df = pd.read_csv("/content/drive/MyDrive/Machine Learning/My Codes/Google Colab/Churn_Modelling.csv")
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [22]:
df = df.drop(['RowNumber','CustomerId','Surname'], axis = 1)

In [27]:
df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [39]:
import warnings
warnings.filterwarnings('ignore')
from sklearn.preprocessing import LabelEncoder
df_num = df.select_dtypes(['int64','float64'])
df_cat = df.select_dtypes('object')
for i in df_cat:
  le = LabelEncoder()
  df_cat[i] = le.fit_transform(df_cat[[i]])
# df_cat.head()

In [41]:
df_new = pd.concat([df_cat,df_num], axis = 1)
df_new.head()

   Geography  Gender  CreditScore  ...  IsActiveMember  EstimatedSalary  Exited
0          0       0          619  ...               1        101348.88       1
1          2       0          608  ...               1        112542.58       0
2          0       0          502  ...               0        113931.57       1
3          0       0          699  ...               0         93826.63       0
4          2       0          850  ...               1         79084.10       0

[5 rows x 11 columns]

In [43]:
X = df_new.drop('Exited', axis = 1)
y = df_new['Exited']

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3, random_state = 1)

In [45]:
model = TPOTClassifier(generations=5, random_state=1)
model.fit(X_train,y_train)

TPOTClassifier(generations=5, random_state=1)

In [46]:
# Train Score
model.score(X_train, y_train)

0.9547142857142857

In [47]:
# Test Score
model.score(X_test, y_test)

0.8616666666666667

In [49]:
y_pred = model.predict(X_test)

In [52]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.87      0.97      0.92      2373
           1       0.80      0.45      0.58       627

    accuracy                           0.86      3000
   macro avg       0.83      0.71      0.75      3000
weighted avg       0.86      0.86      0.85      3000

In [48]:
model.fitted_pipeline_

Pipeline(steps=[('zerocount', ZeroCount()),
                ('pca',
                 PCA(iterated_power=7, random_state=1,
                     svd_solver='randomized')),
                ('extratreesclassifier',
                 ExtraTreesClassifier(criterion='entropy', max_features=0.55,
                                      min_samples_leaf=3, min_samples_split=6,
                                      random_state=1))])

In [54]:
model.export('alpha.py')